html,
body {
  box-sizing: border-box;
  font-size: 20px;
  background: darkblue;
}
.pageHeader {
  height: 80px;
  width: 100%;
  background: lightskyblue;
  color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gameTitle {
  font-size: 60px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
/* .greeting {
  display: flex;
  font-size: 20px;
  height: auto;
  width: auto;
  margin-top: 40px;
} */
.messageBoard {
  display: flex;
  font-size: 20px;
  height: auto;
  width: auto;
  margin-top: 10px;
}
.gameLocale {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
}
.player {
  display: flex;
  background: lightcyan;
  min-width: 20vw;
  width:auto;
  height: 20vw;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  color:darkblue;
}
.resultBox {
  display: flex;
  background: lightcyan;
  width: 20vw;
  height: 20vw;
  padding: 10px;
  font-size: 60px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color:darkblue;

}
.result{
  display: flex;

  align-items: center;
  justify-content: center;
}
#playerNameInput {
  width: 15vw;
  height: 2vw;
  font-size: 20px;
  margin-right: 10px;
}
#nameInputLabel {
  margin-right: 10px;
}
#nameSubmit {
  height: 20px;
}
.rps {
  display: flex;
}
.pName {
  display: flex;
  font-size: 30px;
  height: auto;
  width: auto;
}
.pChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 60px;
  height: auto;
  width: auto;
}
.pTurn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 60px;
  height: auto;
  width: auto;
}
.rps:hover{
  cursor: pointer;
  color:lightskyblue;
}

.pStats {
  display: flex;
  font-size: 30px;
  height: auto;
  width: auto;
}

#messageHistory{
  width: 40vw;
  height: 15vw;
  background: white;
  margin-top: 20px;
  border: 1px solid darkblue;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.chatBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#p-local{
  clear:both;
  width:100%;
  text-align: right;
  color: blue;

}
#p-opp{
  display: flex;
  clear:both;
  align-self:left;
  color: purple;

}